// Pages
@require 'page/landing'
@require 'page/profile'
@require 'page/sidebar'
@require 'page/article'
@require 'page/styleguide'
@require 'page/revision_list'
@require 'page/revision_diff'
@require 'page/editor'
@require 'page/tag_page'
@require 'page/docs'
