html.tag_page

    .banner-top
        padding 1em 0 2em 0
        background-color $color_grey_8

        @media screen and (max-width: 800px)
            padding 0 1em 1em 1em

        .tag-intro
            h1
                margin 0

                color white

                font-family $type_serif
                font-size 4.5em
                font-weight 700

                @media screen and (max-width: 640px)
                    font-size 3.5em

                @media screen and (max-width: 640px)
                    margin 0.3em 0 0 0
                    font-size 3em

            p
                margin 0.5em 0 1.3em 0
                padding-right 1.5em

                color white

                font-size 1.2em
                line-height 1.5em

                @media screen and (max-width: 640px)
                    font-size 1em

                @media screen and (max-width: 640px)
                    margin 0.75em 0 1.3em 0

        .tag-cta
            margin-top 2.5em
            color $color_grey_35
            text-align center

            @media screen and (max-width: 640px)
                margin 0 0 1em 0

            .cta
                margin-bottom 1.5em
                border-radius 3px

                div
                    display inline-block
                    margin 0.85em 0 0 0
                    padding-left 1.4em

                    color $color_grey_70

                    font-size 0.85em
                    font-weight 600
                    line-height 1.5em
                    text-align left

                    @media screen and (max-width: 800px)
                        padding-left 0

                .fa
                    display inline-block
                    font-size 2.6em
                    text-shadow 2px 2px 0px $color_grey_8, 7px 7px 0px rgba(0, 0, 0, 0.15)

                    @media screen and (max-width: 800px)
                        padding-bottom 0.3em

    .main-content
        .unit
            @media screen and (max-width: 800px)
                padding 0 0.2em

            @media screen and (max-width: 640px)
                padding 0 0.5em

        .filter-tags
            margin 1.5em 0 1em 0

            @media screen and (max-width: 800px)
                margin 0.5em 0

            li
                padding-bottom 0.5em

            .active
                a
                    background-color $color_blue_xlight
                    color white

        .u-75
            padding-right 0.85em

            @media screen and (max-width: 800px)
                padding-right 0.3em

        .u-25
            margin-top 4.3em

            @media screen and (max-width: 640px)
                margin-top 1em

