// Main color
$color_black = #373737

// Brand colors
$color_blue = #0F5D8F
$color_blue_light = lighten($color_blue, 22%)
$color_blue_xlight = lighten($color_blue, 40%)
$color_blue_xxlight = lighten($color_blue, 65%)
$color_green = #12CC8D
$color_visited = #B243AE
$color_wiki = #C76E1C
$color_red = #F24641

// Greys
$color_grey_8 = lighten($color_black, 8%)
$color_grey_25 = lighten($color_black, 25%)
$color_grey_35 = lighten($color_black, 35%)
$color_grey_50 = lighten($color_black, 50%)
$color_grey_70 = lighten($color_black, 70%)
$color_grey_80 = lighten($color_black, 80%)
$color_grey_90 = lighten($color_black, 90%)
$color_grey_95 = lighten($color_black, 95%)

$colors_all = $color_black, $color_blue, $color_blue_light, $color_blue_xlight, $color_green, $color_grey_50, $color_grey_70, $color_grey_90
