.main-footer
    padding 2em 0
    margin-top 3em

    background-color $color_black

    li
        padding 0 0.45em

        color $color_grey_35

        font-size 0.85em
        font-weight 600

        a
            border-bottom none
            color $color_blue_xlight

            &:hover
                color white

        .mailing
            color white

            &:hover
                color $color_green

.mobile-footer
    padding 0.85em 0

    .menu-list
        li
            white-space nowrap
            line-height 1.4em

            img
                display block
                max-width 100%
                margin 0 auto

        .mobile-footer-logo
        .mailing
        .copyright
            display block

        .mobile-footer-logo
            margin-bottom 0.85em

        .copyright
            margin-top 0.85em
